.ICEauthority
.Xauthority
.bash_history
.bazaar/
.bzr.log
.cache/
.compiz-1/
.config/
.dbus/
.fontconfig/
.gconf/
.gnome/
.gnome2/
.goutputstream-*
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.iristest.json*
.kde/
.local/
.mission-control/
Music/
.nv/
.pki/
.pulse*
.mozilla/
.Skype/
.session_logs/
.thumbnails/
.thunderbird/
.viminfo
.wakatime.data
.wakatime.db
.wakatime.log
.xsession-errors*
Documents/
Downloads/
Pictures/
Ubuntu One/
chromium_keys/
comlogs/
config
workspace/
novabase_rootfs/

# Vi temp files
*.swp

