.audacity-data/
.ICEauthority
.Xauthority
.bash_history
.bazaar/
.bzr.log
.cache/
.ccache/
.compiz-1/
.config/
.dbus/
.fontconfig/
.gconf/
.gnome/
.gnome2/
.goutputstream-*
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.hplip/
.iristest.json*
.kde/
.lesshst
.local/
.matplotlib/
.mission-control/
.m2/
.node-gyp/
.npm/
.npmrc
Music/
.nv/
.pki/
.pulse*
.purple/
.rnd
.mozilla/
.Skype/
.session_logs/
.thumbnails/
.thunderbird/
.viminfo
.wakatime.data
.wakatime.db
.wakatime.log
.xsession-errors*
CACHEDIR.TAG
Documents/
Downloads/
Pictures/
Ubuntu One/
chromium_keys/
comlogs/
config
workspace/
novabase_rootfs/
Videos/
pr/

# Vi temp files
*.swp

